/*******************************************
* Checkboxes with different flavors markup *
********************************************/

/* Checkbox container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #735850;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
}

.container {
    margin: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 34px;
    background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #A0CA79;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 12px;
    top: 5px;
    width: 10px;
    height: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkboxes {
    padding-top: 50px;
}

.top-3-container {
    display: none;
}

.top-3-header {
    margin-top: 50px;
    font-size: 2em;
}

.top-3-item {

}

/*************
* SVG Markup *
**************/

/* The drawn land on the map */
polygon {
    fill: #735850
}

/* Tooltip when hovering land or distilleries */
.tt {
    color: white;
    text-shadow: 1px 1px 1px black;
    opacity: 1;
}

/* The blend mode of flavours (realisticly blend colors) */
circle {
    mix-blend-mode: screen;
}

main {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
}

/***********************************
* Background, body and main styles *
************************************/
body {
    background: #BFB7B4;
    overflow-x: hidden;
}

.waves {
    z-index: -1000;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(75deg, #c4bcb9, #bfb7b4 4px, #bdb5b2 16px, #b7afac 30px);
}

label.container {
    margin-bottom: 5px;
}

.centroid {
    color: black !important;
}

.card-body, .centroid a {
    color: white;
    text-decoration: none;
}

.card-body:hover, .centroid a:hover {
    color: #A0CA79;
    text-decoration: none;
}

.dark-hover:hover {
    color: #41496A !important;
}

.aboot {
    cursor: default !important;
    font-size: 0.8em;
}

.img-fluid {
    height: 26vw !important;
}

/*******************************
* Styling of NAV and title bar *
********************************/
.blog-title {
    cursor: default !important;
    color: #BFB7B4;
}

.blog-masthead {
    border: 0;
    background: #ffffff !important; /* Old browsers */
    background: -moz-linear-gradient(top, #545c80 0%, #434c73 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #545c80 0%, #434c73 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #545c80 0%, #434c73 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545c80', endColorstr='#434c73', GradientType=0); /* IE6-9 */
    text-shadow: 4px 4px 4px #BFB7B4;
}

.blog-header {
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
    background: #ffffff !important; /* Old browsers */
    background: -moz-linear-gradient(top, #434c73 0%, #41496A 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #434c73 0%, #41496A 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #434c73 0%, #41496A 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#434c73', endColorstr='#41496A', GradientType=0); /* IE6-9 */
    text-shadow: 0.5px 0.5px 0.5px #636B8C;
    cursor: default !important;
}

body > header > div.blog-masthead > div > nav > a {
    background-color: rgba(0, 0, 0, 0);
    color: #BFB7B4 !important;
    text-shadow: 4px 4px 4px #41496A;
}

body > header > div.blog-masthead > div > nav > a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: white !important;
    text-shadow: 4px 4px 4px #41496A;
}

/***************
 * Card markup *
 ***************/
.card {
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
    background: #ffffff !important; /* Old browsers */
    background: -moz-linear-gradient(top, #434c73 0%, #41496A 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #434c73 0%, #41496A 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #434c73 0%, #41496A 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#434c73', endColorstr='#41496A', GradientType=0); /* IE6-9 */
    cursor: default !important;
}

.card-body a {
    color: white;
    text-decoration: none;
}

.card-body a:hover {
    color: #A0CA79;
    text-decoration: none;
}